[submodule "app/Plugin/NiceAdmin"]
	path = app/Plugin/NiceAdmin
	url = https://github.com/davidyell/CakePHP-NiceAdmin.git
[submodule "app/Plugin/Linkable"]
	path = app/Plugin/Linkable
	url = https://github.com/ProLoser/linkable.git
