@import url(http://fonts.googleapis.com/css?family=Telex);
/*
Document   : style
Created on : Dec 19, 2012, 3:48:40 PM
Author     : david
Description:
    Purpose of the stylesheet follows.
*/
body {
  background-color: #2e3f73;
  color: white;
  font-family: Telex, Arial, sans-serif; }

legend {
  color: #333333; }

.scores {
  clear: both; }
  .scores .input {
    float: left; }

#score0, #score1 {
  width: 30px; }

div.input.required label:after {
  content: "*"; }
div.input.error {
  padding: 10px;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 4px; }

textarea {
  width: 440px; }

.one, .two, .three, .four {
  float: left; }

.three {
  clear: left; }

div.content {
  padding: 15px;
  background-color: #eeeeee;
  color: #333333;
  border: 1px solid #a2a2a2;
  border-radius: 4px; }
