/*
Document   : style
Created on : Dec 19, 2012, 3:48:40 PM
Author     : david
Description:
    Purpose of the stylesheet follows.
*/

@import url(http://fonts.googleapis.com/css?family=Telex);

$ttBlue: #2E3F73;
$ttGreen: #088B29;
$fg: #fff;

$contentBg: #eee;
$contentText: #333;

body{
    background-color: $ttBlue;
    color: $fg;
    font-family: Telex, Arial, sans-serif;
}

legend{
    color: $contentText;
}

.scores{
    clear: both;
    .input{
        float: left;
    }
}
#score0, #score1{
    width: 30px;
}

div.input{
    &.required label:after{
        content: "*";
    }
    &.error{
        padding: 10px;
        color: #B94A48;
        background-color: #F2DEDE;
        border: 1px solid #EED3D7;
        border-radius: 4px;
    }
}

textarea{
    width: 440px;
}

.one, .two, .three, .four{
    float: left;
}
.three{
    clear: left;
}

div.content{
    padding: 15px;
    background-color: $contentBg;
    color: $contentText;
    border: 1px solid darken($contentBg, 30%);
    border-radius: 4px;
}